<!--<p *ngIf="spoil" class="alert alert-success"><strong>C'est le chef du groupe!</strong></p>-->
<app-navbar (openSide)="openSide($event)"></app-navbar>
<app-sidebar [open]="open"></app-sidebar>


<div class="row">
    <div class="col s12">
        <!--<nav>
            <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large">Test 1 </a>
            <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large">Test 2</a>
        </nav>-->
        <ul class="tabs">
            <li class="tab col s3"><a routerLinkActive="active" routerLink="/main"><i class="material-icons">view_list</i></a></li>
            <li class="tab col s3"><a routerLink="/map" routerLinkActive="active"><i class="material-icons">map</i></a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
<!--
<p *ngIf="spoil" class="alert alert-success"><strong>C'est le chef du groupe!</strong></p>
<app-filter [spoil]="spoil" (update)="detect($event)"></app-filter>
<app-list [personnages]="personnage.all"></app-list>-->