nav {
    height: 0px;
}

.side-nav {
    width: 200px;
}

li.active {
    background-color: #ee6e73
}

app-filter {
    margin: 10px;
}

app-list {
    margin: 20px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.center-btn {
    text-align: center
}