<!-- Page preloader -->
<!--<div id="hola">
    <div id="preloader">
        <span></span>
        <span></span>
    </div>
</div>-->



<div class="home">
    <div class="col s12" id="liste">
        <div *ngIf="!personnage.isLoaded" class="progress">
            <div class="indeterminate"></div>
        </div>


        <div *ngIf="personnage.isLoaded">

            <a (click)="visibility()" class="btn-floating btn-large waves-effect waves-light teal animated bounceIn filter">
                <i class="material-icons">settings</i>
            </a>

            <div *ngIf="visible" class="filterForm row">
                <form class="col s12">
                    <div class="row">

                        <div class="input-field col s12 m12 l4">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">First Name</label>
                        </div>
                        <div class="input-field col s12 m12 l2">
                            <input class="with-gap" name="group3" type="radio" id="homme" checked />
                            <label for="homme">Homme</label>
                            <input class="with-gap" name="group3" type="radio" id="femme" checked />
                            <label for="femme">Femme</label>
                        </div>
                        <div class="input-field col s12 m12 l3 range-field">
                            <input type="range" id="test5" min="0" max="100" />
                        </div>
                        <div class="input-field col s12 m12 l3 range-field">
                            <div class="switch">
                                <label>
                                    Vivant
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Mort
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card">
                <ul class="collection">
                    <app-card [personnages]="personnage.all()"></app-card>
                </ul>
            </div>

            <a (click)="personnage.more()" class="more text-center animated fadeInDown"><i class="material-icons dp48">replay</i> Voir les anciens</a>

        </div>
    </div>

    <a href="#modal1" class="btn-floating btn-large waves-effect waves-light teal add">
        <i class="material-icons">add</i>
    </a>


    <app-form></app-form>


</div>