a.more {
    display: block;
    text-align: center;
}

a.filter {
    margin: 0 auto;
    display: block;
    bottom: 42px;
    transition: all 2s;
}

a.filter:hover {
    transform: rotate(1080deg);
}

.collection {
    .collection-item {}
}

div#liste {
    width: 90%;
    padding: 0;
}