<div *ngIf="!personnage.isLoaded" class="progress" id="loaderpersonnages">
    <div class="indeterminate"></div>
</div>

<div class="home">

    <div class="col s12" id="liste">

        <div *ngIf="personnage.isLoaded">

            <app-filter (search)="searching($event)"></app-filter>

            <div class="card">
                <ul class="collection" *ngIf="personnage.hasPersonnage()">
                    <app-card [text]="searchText" [personnages]="personnage.all()"></app-card>
                </ul>

                <div *ngIf="personnage.hasPersonnage() == false">
                    <div class="card-panel red lighten-2">
                        <i class="material-icons">warning</i> Aucun personnage trouvé dans la série :(
                    </div>
                </div>
            </div>

            <!--<a (click)="personnage.more()" class="more text-center animated fadeInDown"><i class="material-icons dp48">replay</i> Voir les anciens</a>-->

        </div>
    </div>



    <app-form></app-form>

</div>