<!-- Page preloader -->
<!--<div id="hola">
    <div id="preloader">
        <span></span>
        <span></span>
    </div>
</div>-->



<div class="home">
    <div class="col s9" id="liste">
        <div *ngIf="!personnage.isLoaded" class="progress">
            <div class="indeterminate"></div>
        </div>


        <div *ngIf="personnage.isLoaded">

            <a (click)="visibility()" class="btn-floating btn-large waves-effect waves-light teal animated bounceIn filter">
                <i class="material-icons">settings</i>
            </a>

            <div *ngIf="visible" class="filterForm row">
                <form class="col s12">
                    <div class="row">

                        <div class="input-field col s12 m12 l4">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">First Name</label>
                        </div>
                        <div class="input-field col s12 m12 l2">
                            <input class="with-gap" name="group3" type="radio" id="homme" checked />
                            <label for="homme">Homme</label>
                            <input class="with-gap" name="group3" type="radio" id="femme" checked />
                            <label for="femme">Femme</label>
                        </div>
                        <div class="input-field col s12 m12 l3 range-field">
                            <input type="range" id="test5" min="0" max="100" />
                        </div>
                        <div class="input-field col s12 m12 l3 range-field">
                            <div class="switch">
                                <label>
                                    Vivant
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Mort
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card">
                <ul class="collection">
                    <app-card [personnages]="personnage.all()"></app-card>
                </ul>
            </div>

            <a (click)="personnage.more()" class="more text-center animated fadeInDown"><i class="material-icons dp48">replay</i> Voir les anciens</a>

        </div>
    </div>

    <a href="#modal1" class="btn-floating btn-large waves-effect waves-light red add">
        <i class="material-icons">add</i>
    </a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal  bottom-sheet">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s4">
                            <input class="with-gap" name="sexe" type="radio" value="1" id="test5" checked />
                            <label for="test5">Homme</label>
                            <input class="with-gap" name="sexe" value="0" type="radio" id="test5" />
                            <label for="test5">Femme</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Son role dans la série" id="activite" type="text" class="validate">
                            <label for="activite">Activité</label>
                        </div>
                        <div class="input-field col s4">
                            <input type="date" id="dob" class="datepicker">
                            <label for="dob">Date de naissance</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>
                                <input class="with-gap" name="group3" type="radio" id="one" />
                                <label for="one">1</label>
                                <input class="with-gap" name="group3" type="radio" id="two" />
                                <label for="two">2</label>
                                <input class="with-gap" name="group3" type="radio" id="three" checked />
                                <label for="three">3</label>
                                <input class="with-gap" name="group3" type="radio" id="four" />
                                <label for="four">4</label>
                                <input class="with-gap" name="group3" type="radio" id="five" />
                                <label for="five">5</label>
                            </p>
                            <label for="disabled">Survie sur 5</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <div class="input-field col s12">
                                <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
                                <label>Materialize Select</label>
                            </div>
                            <label for="first_name">Pays</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="date" class="datepicker"> _name" type="text" class="validate">
                            <label for="last_name">Photos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">Biograpgie</label>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-green teal">Créer ce personnage</button>
        </div>
    </div>



</div>