a.teal-text,
a.red-text,
{
    font-size: 14px;
    vertical-align: middle;
    display: flex;
    margin-right: 13px;
    float: left;
    -webkit-transition: color .6s ease-in;
    -moz-transition: color .6s ease-in;
    -o-transition: color .6s ease-in;
    transition: color .6s ease-in;
}

a.teal-text:active,
a.red-text:active,
{
    color: #006699;
}

div#actions {
    margin-top: 5px;
}