a.filter {
    margin: 0 auto;
    display: block;
    bottom: 95px;
}

a.filter i {
    transition: all 1s ease-in-out 0s;
}

a.filter i:active {
    transform: rotate(1080deg);
    transition: all 1s ease-in-out 0s;
}

 :host {
    display: flex;
    flex-direction: column;
}

input:focus {
    font-weight: bold;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}